/node_modules
/vendor
/public/hot
/public/storage
/storage/app/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*
/.env
.env
.env.production
.phpunit.result.cache
homestead.json
homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
